| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="javax.naming.*" %>
| <%@ page import="javax.sql.*" %>
| <%@ page import="java.sql.*" %>
| <%@ page import="java.util.Base64" %>
| 
| <%
| 	try {
| 		if (request.getParameter("key") != null && !request.getParameter("key").isEmpty()) {
| 			String decodedKey = new String(Base64.getMimeDecoder().decode(request.getParameter("key")));
| 
| 			InitialContext initialContext = new InitialContext();
| 			Context environmentContext = (Context) initialContext.lookup("java:/comp/env");
| 			DataSource dataSource = (DataSource)environmentContext.lookup("jdbc/aviation");
| 			Connection conn = dataSource.getConnection();
| 
| 			PreparedStatement statement = conn.prepareStatement("SELECT * FROM airports WHERE home_link = ?");
| 			statement.setString(1, decodedKey);
| 
| 			ResultSet ostf = statement.executeQuery();
| 			if (!ostf.next()) {
| 				throw new Exception();
| 			}
| 		} else {
| 			throw new Exception();
| 		}
| 	} catch (Exception e) {
| 		response.sendRedirect("index.jsp");
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Tesst
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/components/tables.css")
		style.
			img.shizznit {
				display: block;
				height: 300px;
				margin: 20px auto;
			}
			
			table.flex td {
				display: flex;
			}
			
			table.flex td label {
				line-height: 12px;
				flex: 1;
				margin-left: 5px;
			}
			
			input[type="range"] {
				width: 100%;
			}
	body
		include _nav
		
		| 
		| <% if (request.getParameter("type") == null || !request.getParameter("type").equals("results")) { %>
		section.promo-text
			.section-content
				h2.headline Tesst dess Allahgemeinwissens D-A-CH vong Ingtehlignäns her
				
				.row.centered
					.column.column-12.medium-6.align-center
						p.body Dieser Tesd tested das getestete Algem1wiseng der testendeng Tester. Die Bewertung erfolgd ing Punkteng unt wirt nit gespeiert. Das Ergebnis had k1erlei 1flus auf die Benudsung vong FESTIVAL Aviation unt spiegeld NICHT die politischeng Ansiteng der Redaktiong wieder.
		
		section.promo-text
			.section-content
				h4.eyebrow 1: Ein Beispiel für Hunde und Katzen
				img.shizznit(src="https://www.nutricanis.de/media/blog/250x250_hund-katze_500.jpg" class="shizznit")
				p.body <strong>Aufgabe 1)</strong> Ordnen Sie die nachfolgenden Namen den Charakteren im Bild zu.
				
				.row.centered
					table.column.column-12.medium-6
						tr
							td Name
							td Kadse
							td Hound
						each val in ['Fabian', 'Janik', 'Nicht Jonas', 'Frikandel Otte', 'Per Windaler aus Lampukistan', 'Hidolf Atler']
							tr
								td= val
								td
									input(type="checkbox")
								td
									input(type="checkbox")
		
		section.promo-text
			.section-content(style="position: relative;")
				h4.eyebrow 2: Die Schönheit der Glühlampe
				img.shizznit(src="https://www.mega-kunde.de/media/catalog/product/cache/2/image/553x/9df78eab33525d08d6e5fb8d27136e95/4/0/40014__ncc_700x700.jpg")
				p.body <strong>Aufgabe 2)</strong> Schätzen Sie die Nennleistung der abgebildeten Glühlampe in WAT.
				
				img.shizznit(src="http://i0.kym-cdn.com/photos/images/newsfeed/000/173/576/Wat8.jpg?1315930535")
				.movable-container(style="position: absolute; left: 50%; bottom: 230px; transform: translate3d(-50%, 0, 0)")
					each i in [1,2,3]
						select(style="font-size: 40px")
							each val in [0,1,2,3,4,5,6,7,8,9]
								option= val
		
		section.promo-text
			.section-content
				h4.eyebrow 3: Eishockey-Abend in der Savanne
				img.shizznit(src="http://www.lol.de/sport/das-tut-weh-die-17-lustigsten-sportpannen-177/das-gilt-wohl-auch-fuer-eishockey-o02nx2kyrk-20.jpg")
				p.body <strong>Aufgabe 3)</strong> [Kreuzen Sie an] Wie viele Zähne werden durschschnittlich pro Tag beim Eishockey in Deutschland verloren?
				
				.row.centered
					table.column.column-12.medium-6.flex
						each val, index in ['3', 'Drölf', 'Zwünf', '42', 'π', '©', 'Weißbrot', 'Ralph']
							tr
								td
									input(type="radio", name="A3", id="A3_#{index}")
									label(for="A3_#{index}")= val

		section.promo-text
			.section-content
				h4.eyebrow 4: Vorsicht, zerbrechlich!
				img.shizznit.huehuehue(src="https://ae01.alicdn.com/kf/HTB1pNdZir5YBuNjSspoq6zeNFXan/Antique-Vintage-Home-Decoration-Ceramic-Vase-Hexagon-Blue-and-White-Porcelain-Flower-Chinese-Ming-Vase.jpg_640x640.jpg")
				p.body <strong>Aufgabe 4)</strong> Bestimmen Sie den HSL-Farbwert der in diesem Bild abgebildeten Ming-Vase, die wir zufällig auf AliExpress gefundeb haben.
				
				.row.centered
					.column.column-12.medium-4
						input(type="range", name="h", value="0", min="0", max="360", oninput="huehuehue()")
						input(type="range", name="s", value="1", min="0", max="100", oninput="huehuehue()")
						input(type="range", name="b", value="100", min="0", max="500", oninput="huehuehue()")
						
						script(type="text/javascript").
							const huehuehue = () => {
								const h = document.querySelector("input[type=\"range\"][name=\"h\"]").value;
								const s = document.querySelector("input[type=\"range\"][name=\"s\"]").value;
								const b = document.querySelector("input[type=\"range\"][name=\"b\"]").value;
								
								const filter = 'filter: hue-rotate('+h+'deg) saturate('+s+') brightness('+b+'%)';
								document.querySelector("img.huehuehue").setAttribute("style", filter);
							}
		
		section.promo-text
			.section-content
				h4.eyebrow 5: Politirilik in Schlandtton
				img.shizznit(src="https://www.ndr.de/fernsehen/sendungen/extra_3/extra8188_v-original.jpg")
				p.body <strong>Aufgabe 5)</strong> Erörtern Sie die Relationen zwischen den GUS-Staaten bzw. deren Ministerpräsidenten und deutscher soziologischer Demographien der letzten 605 Jahre in über 2000 Wörtern.
				
				.row.centered
					table.column.column-12.medium-6.flex
						each val, index in ['Ja', 'Nein', 'Vielleicht', 'Definitiv Nein', 'Weiß nicht/keine Angabe']
							tr
								td
									input(type="radio", name="A5", id="A5_#{index}")
									label(for="A5_#{index}")= val
									
		section.row.centered
			.column.column-12.medium-6.align-center
				a(href!="secret.jsp?key=<%= request.getParameter(\"key\") %>&type=results")
					button.call.fill.blue Zur Auswertung
				
		| 
		| <% } else { %>
		.content-wrapper
			section.promo-text
				.section-content
					h2.headline.align-center Auswertung:tton
					
					.row.centered
						.column.column-12.medium-6.align-center
							p.body Sie haben Drölf Pungte von 42 Möhklichen erreicht.
							p.body
								span(style="font-size: 12px") There are no Easter Eggs up here.
					
			section.row.centered
				.column.column-12.medium-6.align-center
					a(href!="index.jsp")
						button.call.fill.blue Zurück zur Startseite
		| 
		| <% } %>
					
		include _footer